## Dataset

In [8]:
import pandas as pd

df = pd.DataFrame({
    'gender': ['male', 'female', 'male', 'female', 'male', 'female'],
    'income': ['low', 'high', 'low', 'low', 'high', 'high'],
    'spending': [1000, 2000, 500, 300, 1500, 1200]
})
df

   gender income  spending
0    male    low      1000
1  female   high      2000
2    male    low       500
3  female    low       300
4    male   high      1500
5  female   high      1200

# Crosstab
- Tool for generating contingency tables in Pandas
- It can be used to summarize and compare data by group
- Can also be used to compute groupwise statistics and test groupwise hypotheses.

## Generate a contingency table of gender and income
- `row` -> Unique values from gender
- `column` -> Unique values from income

In [4]:
ct = pd.crosstab(df['gender'], df['income'])
ct

income  high  low
gender
female     2    1
male       1    2

- We can also specify a value column to be aggregated in the contingency table using the `values` & `aggfunc` parameter

In [7]:
ct = pd.crosstab(df['gender'], df['income'], values = df.spending, aggfunc = 'mean')
ct

income  high  low
gender
female  1600  300
male    1500  750