# DateTime Index

## Dataset
- Reading dates from csv converts it to string type
- To avoid this we use parse_dates to typecast dtaes from string to date

In [1]:
import pandas as pd

df = pd.read_csv('aapl.csv', parse_dates = ['Date'] , index_col = 'Date')
df

              Open    High     Low   Close    Volume
Date
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-06-30  144.45  144.96  143.78  144.02  23024107
...            ...     ...     ...     ...       ...
2016-07-15   98.92   99.30   98.50   98.78  30136990
2016-07-14   97.39   98.99   97.32   98.79  38918997
2016-07-13   97.41   97.67   96.84   96.87  25892171
2016-07-12   97.17   97.70   97.12   97.42  24167463
2016-07-11   96.75   97.65   96.73   96.98  23794945

[251 rows x 5 columns]

## Note that our index is of `DatetimeIndex` type

In [15]:
df.index

DatetimeIndex(['2017-07-07', '2017-07-06', '2017-07-05', '2017-07-03',
               '2017-06-30', '2017-06-29', '2017-06-28', '2017-06-27',
               '2017-06-26', '2017-06-23',
               ...
               '2016-07-22', '2016-07-21', '2016-07-20', '2016-07-19',
               '2016-07-18', '2016-07-15', '2016-07-14', '2016-07-13',
               '2016-07-12', '2016-07-11'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

### Advantages: We can pass partial/sliced index as per our requirement

### To get data for year 2017

In [20]:
df.loc['2017'].head()

              Open    High     Low   Close    Volume
Date
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-06-30  144.45  144.96  143.78  144.02  23024107

### To get data for Jan 2017

In [21]:
df.loc['2017-01'].head()

              Open    High     Low   Close    Volume
Date
2017-01-31  121.15  121.39  120.62  121.35  49200993
2017-01-30  120.93  121.63  120.66  121.63  30377503
2017-01-27  122.14  122.35  121.60  121.95  20562944
2017-01-26  121.67  122.44  121.60  121.94  26337576
2017-01-25  120.42  122.10  120.28  121.88  32586673

### Average closing price of aapl's stock in June, 2017

In [4]:
df.loc['2017-06'].Close.mean()

147.8313636363636

### Select Date Range

In [27]:
df.loc['2017-01-03':'2017-01-08']

              Open    High     Low   Close    Volume
Date
2017-01-06  116.78  118.16  116.47  117.91  31751900
2017-01-05  115.92  116.86  115.81  116.61  22193587
2017-01-04  115.85  116.51  115.75  116.02  21118116
2017-01-03  115.80  116.33  114.76  116.15  28781865

# Resample
- It is used to set the frequency of Data reading
- e.g. Monthly, Quarterly, Yearly, etc

### Get monthy average Open & Close price

In [14]:
df[['Open', 'Close']].resample('M').mean()

                  Open       Close
Date
2016-07-31   99.422667   99.473333
2016-08-31  107.462609  107.665217
2016-09-30  110.673333  110.857143
2016-10-31  115.743810  115.707143
2016-11-30  110.098571  110.154286
2016-12-31  113.995238  114.335714
2017-01-31  119.093500  119.570000
2017-02-28  133.234737  133.713684
2017-03-31  140.361304  140.617826
2017-04-30  143.030000  142.886842
2017-05-31  151.965909  152.227727
2017-06-30  148.215000  147.831364
2017-07-31  143.622500  143.625000

### To get quratretly maximum Volume

In [16]:
df['Volume'].resample('Q').max()

Date
2016-09-30    112340318
2016-12-31     66134219
2017-03-31    111985040
2017-06-30     72307330
2017-09-30     24128782
Freq: Q-DEC, Name: Volume, dtype: int64