# Arithmetic Operations

In [2]:
import pandas as pd
df = pd.DataFrame({'A':[1,2,3,4], 'B':[9,8,7,6]})
df['SUM'] = df['A'] + df['B']
df['DIFF'] = df['A'] - df['B']
df['MUL'] = df['A'] * df['B']
df['DIV'] = df['A'] / df['B']
df

   A  B  SUM  DIFF  MUL       DIV
0  1  9   10    -8    9  0.111111
1  2  8   10    -6   16  0.250000
2  3  7   10    -4   21  0.428571
3  4  6   10    -2   24  0.666667

# Logical Operations

In [8]:
df = pd.DataFrame({'A':[15,26,53,45]})
df['RESULT'] = df['A'] >= 35
df

    A  RESULT
0  15   False
1  26   False
2  53    True
3  45    True