In [11]:
import pandas as pd
df = pd.DataFrame({'A':[1,2,3,4,5], 'B':[6,7,8,9,10]})
df

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

# Insert column
- Using insert()
    - `loc`: index at which new column is to be inserted
    - `column`: name of the column to be inserted
    - `value`: Actual data to be inserted in the column
    - `Note`: The no. of rows of data to be inserted should match with the no. of rows in existing columns

In [12]:
df.insert(loc = 2, column = 'C', value = [11, 12, 13, 14, 15])
# OR
# df.insert(2, 'C', [11, 12, 13, 14, 15])
df

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

- Using indexing `[]`

In [15]:
df['D'] = [10, 20, 30, 40, 50]
df

   A   B   C   D
0  1   6  11  10
1  2   7  12  20
2  3   8  13  30
3  4   9  14  40
4  5  10  15  50

# Delete column
- Using pop()

In [16]:
df.pop('C')
df

   A   B   D
0  1   6  10
1  2   7  20
2  3   8  30
3  4   9  40
4  5  10  50

- Using `del`

In [17]:
del df['D']
df

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10