# Create CSV using DataFrame

- `to_csv`:
    - index: Used to Hide/Unhide the index column in the generated CSV file
    - headre: To assign custom name to the columns in CSV file

In [5]:
import pandas as pd
lst = [['Vivek', 23, 'Pune'], ['Ram', 40, 'Banglore'], ['Ankit', 32, 'Delhi']]
df = pd.DataFrame([['Vivek', 23, 'Pune'], ['Ram', 40, 'Banglore'], ['Ankit', 32, 'Delhi']])
df.to_csv('Test.csv', index = False, header = ['Name','Age', 'City'])
df

       0   1         2
0  Vivek  23      Pune
1    Ram  40  Banglore
2  Ankit  32     Delhi