# DataFrames
- Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

- Series is like a column, a DataFrame is the whole table.

- A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns

## Create DataFrame using different Data Types

In [35]:
import pandas as pd

- Using list

In [36]:
lst = [1, 9.3, 'a']
df1 = pd.DataFrame(lst)
print(df1)

     0
0    1
1  9.3
2    a

- Using tuple

In [37]:
tup = (3, 5.8, 'b')
df2 = pd.DataFrame(tup)
print(df2)

     0
0    3
1  5.8
2    b

- Using dictionary

In [38]:
mydict = {'name':['Vivek', 'Alex', 'Bob'], 'age':[23, 20, 18]}
df3 = pd.DataFrame(mydict)
print(df3)

    name  age
0  Vivek   23
1   Alex   20
2    Bob   18

- Using single Series

In [39]:
sr2 = pd.Series(['Apple', 'Orange', 'Banana'], name = 'fruits')
df4 = pd.DataFrame(sr2)
print(df4)

   fruits
0   Apple
1  Orange
2  Banana

- Using multiple Series

In [40]:
sr1 = pd.Series([3, 2, 5])
sr2 = pd.Series(['Apple', 'Orange', 'Banana'])
dict_series = {'id': sr1, 'fruit': sr2}
df5 = pd.DataFrame(dict_series)
print(df5)

   id   fruit
0   3   Apple
1   2  Orange
2   5  Banana